@charset "=UTF -8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    ---fonte-destaque: 'Bebas Neue';
}
body{
    background-image: linear-gradient(50deg, rgba(250, 7, 7, 0.711), rgba(194, 126, 23, 0.782), rgba(253, 232, 4, 0.218));
    margin: 0px;
    
}

main{
 background-image: url(Panfleto\ Dani\ \(1\).png);
 background-repeat: no-repeat;
 background-size: 350px 350px ;
 background-position: right bottom;
margin: auto;
min-width: 300px;
max-width: 1500px;
box-shadow: 0px 0px 19px black

}

article > h2{
    font-family:var(---fonte-destaque);
    font-size: 02em;
    text-align: center;
    text-shadow: 3px 2px 0px rgba(237, 237, 232, 0.858);

}

header{
    background-color: rgba(165, 42, 42, 0.527);
    margin: auto;
min-width: 300px;
max-width: 1500px;
min-height: 150px;

}

header > h1{
font-family: var(---fonte-destaque);
    text-align: center;
    font-size: 05em;
    margin: 0px;
    text-shadow: 3px 2px 0px rgba(237, 237, 232, 0.858);
    margin: auto;
min-width: 300px;
max-width: 1500px;

}

header > p{
    text-align: center; 
font-family: cursive;
font-size: 1.5em;
background-color: bisque;
margin:auto; 
min-width: 300px;
max-width: 1500px;
padding: 10px;
border-radius: 30px;
text-shadow: 1px 1px 0px rgba(248, 8, 8, 0.571);

}

nav {
    background-color: rgb(9, 9, 9);
    margin: auto;
    min-width: 300px;
    max-width: 1500px;
}
nav > a{
   color: aliceblue;
   padding: 20px;
   font-weight: bolder;
   transition-duration: .5s;
   border-radius: 5pt;
}
nav >a:hover{
    background-color: rgba(246, 132, 26, 0.886);
    padding: 10px;
    
}

div#q1{
    border-radius: 20px;
    display: inline-block;
    margin: 20px;
    width: 329px;
    height: 300px;
    box-shadow: 8px 10px 7px black;
    background-image: url(salgado.jpg); 
    margin: 20px;
    }
    
     
    div#q2 {
        display: inline-block;
        margin: 20px;
        width: 329px;
        height: 300px;
        background-color: lightsalmon;
        box-shadow: 8px 10px 7px black; 
        background-image: url(salgados2.jpeg);
        background-repeat: no-repeat;
        background-size: 350px 300px;
    }

    div#q3{
        border-radius: 20px;
        display: inline-block;
        margin: 20px;
        width: 329px;
        height: 300px;
        box-shadow: 8px 10px 7px black;
        background-image: url(images.jpeg);
        margin: 20px;
        background-repeat: no-repeat;
        background-size: 350px 300px;
        }

        div#q4{
            border-radius: 20px;
            display: inline-block;
            margin: 20px;
            width: 329px;
            height: 300px;
            box-shadow: 8px 10px 7px black;
            background-image: url(salgados5.jpeg); 
            margin: 20px;
            background-repeat: no-repeat;
            background-size: 350px 300px;
            }
             aside > ul{
                 font-size: 1.5em;
                 font-family:fantasy
             }

             aside> ul > li :hover{
                background-color:rgb(250, 231, 25);
                border-radius: 5pt;
                transition-duration: .5s;
                padding: 5px;
                }

        footer{
        background-color: rgba(149, 34, 34, 0.556);
        color: rgb(244, 249, 249);
        margin: auto;
        min-width: 300px;
        max-width: 1500px;
        
            }
        